#footer {
    bottom: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    background: #2a2a2a;
    padding: 0 10%;
    margin-top: 25%;
}

@media screen and (max-width: 960px) {
    #footer {
        padding: 0
    }
}

#footer .footer-r {
    width: 70%;
    padding: 40px;
    color: #fff;
    display: flex
}

#footer .footer-link {
    font-size: .9rem;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    width: 200px
}

#footer .footer-linksmall {
    font-size: .9rem;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    width: 170px
}

#footer .footer-link a {
    color: #fff;
    text-align: left;
    text-decoration-line: none
}

.linktitle:after {
    background-color: #fff;
    background: linear-gradient(90deg, #fff, #ffffff00);
    border-radius: 5px;
    content: "";
    display: block;
    height: 5px
}

#footer .footer-link li:last-child a::after {
    content: '';
    padding: 0
}

#borderfooter {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    padding: 20px 55px
}

.border {
    background-color: #ffffff21;
    height: 2.5px;
    width: 100%
}

#footer .footer-l {
    width: 30%;
    color: #fff
}

#footer .footer-l .footer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh
}

#footer .footer-l .footer-contact-area h2 {
    font-size: 1.2rem;
    margin: 0 0 20px;
    letter-spacing: .1em
}

#footer .footer-l .footer-contact-area a {
    color: #fff;
    font-size: 1.3rem;
    padding: 0 0 20px;
    display: inline-block
}

#footer #copyright {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center
}

#footer #copyrightandsns {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px
}

.socialnetworkbutton {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

#youtubelogobutton {
    width: 50px;
    transform: scale(.05);
    margin-left: 20px
}

#twitterlogobutton {
    width: 50px;
    transform: scale(.035);
    margin-left: 20px
}

#footer #copyrightandsns small a {
    color: #fff
}

#footer #URL {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
    padding: 20px
}

#footer #URL li {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    text-align: left;
    text-decoration: none
}

@media screen and (max-width: 1045px) {

    #footer .footer-r,
    #footer .footer-l {
        width: 100%
    }

    #footer .footer-l .footer-contact,
    #footer #copyrightandsns {
        height: 80px
    }

    #footer .footer-r .map-area h2 {
        width: 5%
    }

    #footer .footer-link {
        text-align: center
    }
}

@media screen and (max-width: 768px) {
    #footer .footer-r {
        padding: 80px 30px
    }

    #footer .footer-r .map-area {
        margin: 0
    }

    #footer .footer-link {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 0 0 0 30px
    }

    #footer .footer-linksmall {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 0 0 0 30px
    }

    #footer .footer-l .footer-contact {
        display: none
    }

    #footer .footer-r .map-area h2 {
        width: 100%;
        height: inherit;
        margin: 0 0 50px;
        -ms-writing-mode: lr-tb;
        -webkit-writing-mode: horizontal-tb;
        writing-mode: horizontal-tb
    }

    #footer .footer-r .map-address {
        width: 48%
    }

    #footer #page-top {
        width: 60px;
        height: 60px
    }
}

@media screen and (max-width: 950px) {
    #footer #URL {
        display: block;
        height: 100%
    }
}