/* 各種要素の設定始まり */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&family=Noto+Sans+JP:wght@400&display=swap');

* {
    box-sizing: border-box
}

body {
    margin: 0;
    background-color: #141414;
    padding-top: 60px;
    color: #fff;
}

li {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

a:visited {
    color: rgb(255, 255, 255)
}

h3 {
    font-family: 'Noto Sans JP';
}

@media screen and (max-width:960px) {
    h3 {
        font-size: 100%;
    }
}

/* 各種要素の設定終わり */

/* ヘッダー始まり */
.header {
    background: #2a2a2a;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 10px 1px #000000;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    position: relative
}

.header__title {
    padding: 0 0 0 10px
}

.header__title img {
    display: block;
    width: 40px;
    height: 40px
}

.header__title_tell {
    width: 80px;
    height: 70px;
    background: linear-gradient(45deg, #06f, #d3d3d3)
}

.header__title_tell img {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto
}

.header__title_tell span {
    display: block;
    text-align: center
}

.header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #fff;
    transition: ease .4s
}

@media screen and (min-width:960px) {
    .header__nav {
        position: static;
        transform: initial;
        background-color: inherit;
        height: inherit;
        display: flex;
        justify-content: end
    }
}

@media screen and (max-width:960px) {
    .header__nav {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 95vh;
        margin-top: 50px;
        transform: translateX(100%);
        background-color: #2a2a2a;
        transition: ease .4s
    }
}

@media screen and (min-width:960px) {
    .nav__items {
        width: 100%;
        display: flex;
        align-items: center;
        height: initial;
        justify-content: space-evenly;
    }
}

.nav-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0
}

.nav-items__item a {
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 24px;
    text-decoration: none
}

@media screen and (min-width:960px) {
    .nav-items {
        position: inherit;
        top: 0;
        left: 0;
        transform: translate(0, 0)
    }

    .nav-items__item a {
        color: #fff
    }
}

.nav-items__item:last-child a {
    margin-bottom: 0
}

@media screen and (min-width:960px) {
    .nav-items__item a {
        margin-bottom: 0
    }
}

.header__hamburger {
    width: 48px;
    height: 100%;
    padding-right: 10px
}

.hamburger {
    background-color: transparent;
    border-color: transparent;
    z-index: 9999
}

@media screen and (min-width:960px) {
    .hamburger {
        display: none
    }
}

.hamburger span {
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: relative;
    transition: ease .4s;
    display: block
}

.hamburger span:nth-child(1) {
    top: 0
}

.hamburger span:nth-child(2) {
    margin: 8px 0
}

.hamburger span:nth-child(3) {
    top: 0
}

.header__nav.active {
    transform: translateX(0)
}

.hamburger.active span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg)
}

.hamburger.active span:nth-child(2) {
    opacity: 0
}

.hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg)
}

/* ヘッダー終わり */

/* コンテイナー始まり */

#container {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 50px 0;
    text-align: center;
}

@media screen and (min-width:650px) {
    #container {
        padding: 100px 0;
    }
}

/* コンテイナー終わり */

/* 現在のすべてのサービスの状況始まり */

.nowstatus {
    border-radius: 5px;
    width: 96%;
    max-width: 900px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
}

.nowstatus img {
    width: 4%;
}

.nowstatus h2 {
    color: white;
    margin-left: 20%;
    font-family: 'M PLUS 1p';
}

@media screen and (max-width: 960px) {
    .nowstatus h2 {
        font-size: 100%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 375px) {
    .nowstatus h2 {
        font-size: 95%;
    }
}

.allok {
    background-color: rgb(0 197 93);
    padding: 5px;
}

.allproblem {
    background-color: rgb(197, 0, 0);
    padding: 5px;
}

.allupdate {
    background-color: rgb(221 163 0);
    padding: 5px;
}

.pescadogamesend {
    background-color: rgb(49, 49, 49);
    padding: 5px;
}

/* 現在のすべてのサービスの状況終わり */

/* アコーディオン始まり */

/*アコーディオン全体*/
.accordion-area {
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin: 0 auto;
}

.accordion-area li {
    margin: 10px 0;
}

.accordion-area section {
    border: 1px solid #ccc;
    position: relative;
}

/*アコーディオンタイトル*/
.title {
    position: relative;
    /*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Noto Sans JP';
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
    text-align: left;
    width: 60%;
}

.status {
    position: absolute;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Noto Sans JP';
    font-weight: normal;
    padding: 3% 3% 3% 0;
    transition: all .5s ease;
    text-align: right;
    right: 0;
    width: 40%;
}

.status h3 {
    font-size: 1rem;
    font-weight: normal;
}

.statusok {
    color: rgb(0 197 93);
}

.statusproblem {
    color: rgb(197, 0, 0);
}

.statusupdate {
    color: rgb(221 163 0);
}

.statusstop {
    color: rgb(49, 49, 49);
}

/*アイコンの＋と×*/
.title::before,
.title::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color: #333;

}

.title::before {
    top: 48%;
    left: 15px;
    transform: rotate(0deg);

}

.title::after {
    top: 48%;
    left: 15px;
    transform: rotate(90deg);

}

/*　closeというクラスがついたら形状変化　*/
.title.close::before {
    transform: rotate(45deg);
}

.title.close::after {
    transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;
    /*はじめは非表示*/
    margin: 0 3% 3% 3%;
    padding: 3%;
}

.allservicecont {
    position: relative;
    border: 1px solid #ccc;
    border-bottom: 0px;
    height: 34px;
    display: flex;
    align-items: center;
}

.allservicecontbottom {
    border: 1px solid #ccc;
}

.allservicename {
    position: absolute;
    width: 60%;
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    padding: 5px 0 5px 5px;
}

.allservicestatus {
    position: absolute;
    width: 40%;
    font-size: 1rem;
    font-weight: normal;
    text-align: right;
    right: 0;
    padding: 5px 5px 5px 0;
}

.allservicestatusproblem {
    right: 30px;
}

.problempagebutton {
    position: absolute;
    background-image: url("https://linux.pescadogames.com/assets/image/StatusInfomationMark.svg");
    border-radius: 20px;
    height: 25px;
    width: 25px;
    right: 0;
    padding-top: 1.5px;
    margin: 4px 5px 4px 0;
    cursor: pointer;
    display: none;
}

.problempagebuttonshow {
    display: block;
}

.boxcont {
    position: relative;
}

.boxcont h2 {
    position: absolute;
    left: 0;
    top: 0;
}

/* アコーディオン終わり */